body {
    background-image: url("GoldFish.jpeg");

    background-size: cover;
}

h1,
#serv {
    text-align: center;
    color: white;
    border: 2px double green
}

p {
    text-align: center;
    color: white;
}

h5 {
    text-align: center;
    font-weight: bold;
}

h3 {
    border-bottom: 2px solid black;
}

.table {
    text-align: center;
}

.p-2 {
    background-color: white;
    border: 2px double green;
    flex-basis: 0%;
}

.table {
    border: 4px double green;
    align-items: center;
}

img {
    margin-top: 4%;
    margin-right: 9%;
    border: 4px double green;
    max-width: 120%;
    height: auto;
    float: right;
}

#RespoolCap {
    float: left;
    padding-left: 16%;
    color: white;
}

#vidCap {
    margin-top: 25%;
    margin-left: 7%;
    color: white;
}

iframe {
    float: inline-start;
    margin-left: 2%;
    border: 4px double green;
}