body{ background-image: url("GoldFish.jpeg");
background-position: middle;
background-size: cover;}

h1{text-align: center;
color: white}
p{text-align: center;}

h5{text-align: center;
font-weight: bold;}